<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userdash</title>
    <link rel="stylesheet" href= {% static 'css/dash.css' %}>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <section id="sidebar">
		<a href="{% url 'home' %}" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">EventPro</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="{% url 'Dash' %}">
					<i class='bx bxs-dashboard'></i>
					<input type="button" value="Dashboard" id="mybtn1" >
				</a>
			</li>
			<li>
				<a href="{% url 'eventdash' %}">
					<i class='bx bxs-calendar-plus'></i>
					<input type="button" value="Events" id="mybtn">
				</a>
			</li>
			<li class="active">
				<a href="{% url 'clubdash' %}">
					<i class='bx bxs-bookmark'></i>
					<input type="button" value="Clubs" id="mybtn2">
				</a>
			</li>
			<li>
				<a href="{% url 'messagedash' %}">
					<i class='bx bxs-message-dots'></i>
					<input type="button" value="Message" id="mybtn3">
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog'></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="{% url 'logout' %}" class="logout">
					<i class='bx bxs-log-out-circle'></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>

    <section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu'></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
				</div>
			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell'></i>
			</a>
			<a href="#" class="profile">
				<img src= {% static 'images/people.png' %}>
			</a>
		</nav>

        <div class="head-title2">
            <div id="left2" class="left2">
                <h1>Clubs</h1>
                <div class="tablecontainer">
                    <div class="eventsintable">
                        <table class="table2">
                            <thead>
                                <tr>
                                    <th>Name of club</th>
                                    <th>Type</th>
                                    <th>President</th>
                                    <th>Mail ID</th>
                                    <th>Fees</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-label="Name of club">Fintech</td>
                                    <td data-label="Type">Technical</td>
                                    <td data-label="President">Ashray Gupta</td>
                                    <td data-label="Mail ID">fintechclub@vitbhopal.ac.in</td>
                                    <td data-label="Fees">200/-</td>
                                    <td data-label="#"><a href="#" class="btn2" onclick="showc1()">Register</a></td>
                                </tr>
                                <tr>
                                    <td data-label="Name of club">Geeks For Geeks</td>
                                    <td data-label="Type">Technical</td>
                                    <td data-label="President">Crazy XYZ</td>
                                    <td data-label="Mail ID">gfgvit@vitbhopal.ac.in</td>
                                    <td data-label="Fees">200/-</td>
                                    <td data-label="#"><a href="#" class="btn2" onclick="showc2()">Register</a></td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                </div>
            </div>
        </div>

		<div class="popup" id="bahar1">
		
			<div class="close-btn" onclick="hidec1()"><label for="">&times;</label></div>
			<div class="forms">
				<h2>Information Form</h2>
				<div class="form-elements">
					<label for="Name">Name</label>
					<input type="text" name="" id="Name" placeholder="Name">
				</div>
				<div class="form-elements">
					<label for="Name">Registration Number</label>
					<input type="text" name="" id="Reg-no" placeholder="Registration Number">
				</div>
				<div class="form-elements">
					<label for="mobile number">Mobile Number</label>
					<input type="text" name="" id="mob-no" placeholder="Mobile Number">
				</div>
				<div class="form-elements">
					<label for="email">Email</label>
					<input type="text" name="" id="email" placeholder="Email Address">
				</div>
				<div class="form-elements">
					<label for="Event Name">Club Name</label>
					<input type="text" name=""  placeholder="Fintech" disabled>
				</div>
				<div class="form-elements">
					<button>Pay Now</button>
				</div>
			</div>
		</div>

		<div class="popup" id="bahar2">
		
			<div class="close-btn" onclick="hidec2()"><label for="">&times;</label></div>
			<div class="forms">
				<h2>Information Form</h2>
				<div class="form-elements">
					<label for="Name">Name</label>
					<input type="text" name="" id="Name" placeholder="Name">
				</div>
				<div class="form-elements">
					<label for="Name">Registration Number</label>
					<input type="text" name="" id="Reg-no" placeholder="Registration Number">
				</div>
				<div class="form-elements">
					<label for="mobile number">Mobile Number</label>
					<input type="text" name="" id="mob-no" placeholder="Mobile Number">
				</div>
				<div class="form-elements">
					<label for="email">Email</label>
					<input type="text" name="" id="email" placeholder="Email Address">
				</div>
				<div class="form-elements">
					<label for="Event Name">Club Name</label>
					<input type="text" name=""  placeholder="Geeks For Geeks" disabled>
				</div>
				<div class="form-elements">
					<button>Pay Now</button>
				</div>
			</div>
		</div>

        <script src= {% static 'js/script.js' %}></script>
</body>
</html>