{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventPro</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    </style>
    <script src=" https://kit.fontawesome.com/a076d05399.js "></script>
    <script src=" https://code.jquery.com/jquery-3.6.3.js "></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="ball-1"></div>
            <div class="ball-2"></div>
            <div class="ball-3"></div>
            <div class="box">
                <nav class="nav">
                    <h1 class="logo"><span>!</span>EventPro<span>!</span></h1>
                    <ul>
                        {% comment %} <li><a href="#">Home</a></li> {% endcomment %}
                        <!-- <li><a href="../Club page/index.html">Clubs</a></li> -->
                        <li><a href="   {% url 'clubpage' %} " target="_blank" rel="noopener noreferrer">Clubs</a></li>
                        <li><a href="  {% url 'eventpage'%} " target="_blank" rel="noopener noreferrer">Events</a>
                        </li>
                        <li><a href="  {% url 'gallerypage' %} " target="_blank" rel="noopener noreferrer">Gallery</a>
                        </li>
                        <li><a href="#about">About Us</a></li>

                        {% if user.is_authenticated %}
                        <li><a href="  {% url 'Dash' %} " target="_blank" rel="noopener noreferrer">DashBoard</a></li>
                        {% endif %}
                        <!-- <li><a href="./DashBoard/Userdash/index.html " target="_blank" rel="noopener noreferrer">Users</a></li> -->
                        {% comment %} <li><a href="  ./Calendar/cal admin/index.html " target="_blank"
                                rel="noopener noreferrer">Admin Cal</a></li> {% endcomment %}
                        <li><a href="{% url 'usercal' %}" target="_blank" rel="noopener noreferrer">User Cal</a></li>
                    </ul>
                </nav>
                <div class="contains">
                    <div class="section-1">
                        <h1>Welcome</h1>
                        <h3>To <span>' </span>VIT Bhopal Events <span>'</span></h3>
                        <p>Celebrite with us Take part or Create your Own Event </p>
                        <div class="button">
                            <!-- <a href="#" id="moreInfo">More Info</a> -->
                            {% if user.is_authenticated %}
                            <p>Hello, {{user.username}}</p><br>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                            <a href="{% url 'register' %} ">Register</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="section-2">
                        <img src=" {% static 'images/vitLion.jpg ' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="about" id="about">
        <div class="container">
            <div class="ball-1"></div>
            <div class="ball-2"></div>
            <div class="ball-3"></div>
            <div class="box">
                <div class="contains">
                    <div class="section-1">
                        <h3>About <span>Us</span></h3>
                        <p>We Will Give A Very Special Celebration For You</p>
                        <br>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, odio nobis dicta provident
                            magnam velit doloribus a animi nihil vitae iste at laborum necessitatibus quia nostrum ipsum
                            reprehenderit! Incidunt eos ullam qui dolorem.</p>
                        <br>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi aspernatur quaerat temporibus
                            dolorum vel beatae odit a nulla animi in numquam eum unde suscipit quisquam incidunt
                            officiis, neque dolor deserunt velit? Eligendi, sapiente?
                        </p>
                        <div class="section-2">
                            <img src="{% static 'images/vitMainGate.jfif' %}" alt="">
                        </div>
                    </div>
                </div>
    </section>


    <section class="contact">
        <div class="container">
            <div class="box">
                <div class="heading">
                    <h1>Contact <span>Us</span></h1>
                    <p>Celebrite with us Lorem ipsum dolor sit amet.</p>
                </div>
                <form  method="post" class="form">
                    <!-- <div class="form"> -->
                            {% csrf_token %}
                            <div class="form">
                                <div class="input-1">
                                    <input type="text" name="name1" id="" placeholder="Your name*" >
                                    <input type="text" name="email1" id="" placeholder="Your email*"  >
                                </div>
                                <div class="input-2">
                                    <input type="text" name="subject1" id="" placeholder="Subject..."  >
                                    <textarea name="message1" id="" cols="30" rows="10" placeholder="Message"  ></textarea>
                                </div>
                                <div>
                                    <button class="btn" id="btn" type="submit">Send Message</button>
                                </div>
                            </div>
                        
                    <!-- </div> -->
                </form>


            </div>
        </div>

    </section>
    <!-- footer -->
    <footer class="footer">
        <div class="footer_info">
            <div class="footer_width about">
                <h2>About<span class="footer_ke"> Us</span></h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus autem tempora, similique
                    voluptatum dolorum voluptatibus animi quae dolore asperiores neque omnis in ad eveniet tempore
                    ratione, doloremque sint! Officia, odit!</p>
                <div class="socia-media">
                    <ul>
                        <li type="none"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li type="none"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li type="none"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer_width link">
                <h2>Quick <span class="footer_ke">links</span></h2>
                <ul>
                    <li type="none"><a href={% url 'home' %} target="_blank" rel="noopener noreferrer"
                            style="text-decoration: none;">Home</a></li>
                    <li type="none"><a href="{% url 'clubpage' %}" style="text-decoration: none;">Club</a></li>
                    <li type="none"><a href={% url 'eventpage' %} target="_blank" rel="noopener noreferrer"
                            style="text-decoration: none;">Events</a></li>
                    <li type="none"><a href={% url 'gallerypage' %} target="_blank" rel="noopener noreferrer"
                            style="text-decoration: none;">Gallery</a></li>
                    <li type="none"><a href="{% url 'register' %}" target="_blank" rel="noopener noreferrer"
                            style="text-decoration: none;">Register</a></li>
                </ul>
            </div>
            <div class="footer_width contact">
                <h2>Con<span class="footer_ke">tact</span></h2>
                <ul>
                    <li>
                        <span class="footer_ke"><i class="fas fa-map-marker-alt"></i></span>
                        <p>Kothrikalan,Sehore(M.P)</p>
                    </li>
                    <li>
                        <span class="footer_ke"><i class="fas fa-envelope"></i></span>
                        <a href="#" style="color: aliceblue;text-decoration: none;">info@vitbhopal.ac.in</a>
                    </li>
                    <li>
                        <span class="footer_ke"><i class="fas fa-phone-volume"></i></span>
                        <a href="#" style="color: aliceblue;text-decoration: none;">+91 756 0254 500/501/502</a>
                    </li>
                </ul>
                </ul>
            </div>
        </div>
        <div class="copy-right">
            <p>Copyright © 2023 VITBHOPAL. All Rights Reserved</p>
        </div>
    </footer>
    <script type="text/javascript" src="{% static 'js/popup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vanilla-tilt.js' %}"></script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelectorAll(".cards"), {
            max: 15,
            speed: 1000
        });

        const btn = document.getElementById("btn");
        btn.addEventListener('click',() => {
            alert("Form Submitted, Thank you for your feedback");
        })
    </script>
</body>

</html>